@import "normalize";
@import "colours";

* { box-sizing:border-box; }

body {
	color: #333;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
  &:before {
    content: '';
    display: inline-block;      
    position: relative;
    width: 50px;
    height: 50px;
    top: 10px;
    left: -5px;
    background: url(../img/ico-flight.png) center center no-repeat $yellow;
    border-radius: 50%;
  }
}
h2:before {
  background-color: $darkblu;
}
// header
header {
  padding: 15px;
  text-align: center;
  color: #fff;
  background: $darkblu;
}

// body
.card {
  position: relative;
	margin: 35px auto;
	padding: 15px;
	max-width: 98%;
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}

//form
input,
button {
  display: block;
  position: relative;
  overflow: visible;
	width: 100%;
	height: 50px;
  font-size:18px;
  padding:10px 10px 10px 5px;
  background: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);  
  &:focus { outline:none; }
}

button {
  color: #fff;
  background: $darkblu;
  text-transform: uppercase;
  &:hover {
     background: $yellow;
     color: $darkblu;
  }
}

.group { 
  position: relative; 
  padding: 15px;
  & + & {
    margin-top: 35px;
  }
}

label {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 18px;
  font-weight: normal;
  color: #999; 
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease; 
}

input:focus ~ label, 
input:valid ~ label { 
  font-size: 14px;
  color: $lightblu;
  transform: translateY(-280%);
}

// result

.price {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: #22356b;
  z-index: 10;
  strong {
   display: block;
  }
}