<h1>Find the best flight</h1>

<form name="findFlights" ng-submit="submitForm(findFlights.$valid)" novalidate>

    <!-- FROM -->
    <div class="group">
        <input type="text" name="from" ng-model="from" required>
        <label>From</label>
    </div>

    <!-- TO -->
    <div class="group">
        <input type="text" name="to" ng-model="to" required>
        <label>To</label>
    </div>
    
    <!-- START DATE -->
    <div class="group">
        <input type="text" name="startdate" ng-model="startdate" required>
        <label>Start Date</label>
    </div>
	<!-- END DATE -->
    <div class="group">
        <input type="text" name="enddate" ng-model="enddate" required>
        <label>End Date</label>
    </div>
    
    <!-- SUBMIT BUTTON -->
    <div class="group">
        <button type="submit" class="btn">Submit</button>
    </div>
</form>