<header>
    	<h1>Find the best flight</h1>
</header>

<!--<cf-autocomplete></cf-autocomplete>-->

<!--{{airports}}-->
<!--<angucomplete-alt id="ex1" pause="100" selected-object="from" local-data="airports" search-fields="name,iataCode" title-field="name, country.name, iataCode" minlength="2"></angucomplete-alt>-->


<div class="card form-wrapper">
    <form name="findFlights" ng-submit="submitForm(findFlights.$valid)" novalidate>
    
        <!-- FROM -->
        <div class="group">
            <angucomplete-alt id="from" placeholder="Departure" pause="100" selected-object="departure" local-data="airports" search-fields="name" title-field="name, iataCode" minlength="1"></angucomplete-alt>
        </div>
        <!-- TO -->
        <div class="group">
            <angucomplete-alt id="from" placeholder="Arrival" pause="100" selected-object="arrival" local-data="airports" search-fields="name" title-field="name" minlength="1"></angucomplete-alt>
        </div>
        
        <!-- START DATE -->
        <div class="group">
            <input type="text" name="startdate" ng-model="startdate" required>
            <label>Start Date</label>
        </div>
    	<!-- END DATE -->
        <div class="group">
            <input type="text" name="enddate" ng-model="enddate" required>
            <label>End Date</label>
        </div>
        
        <!-- SUBMIT BUTTON -->
        <div class="group">
            <button type="submit" class="btn">Find your flight</button>
        </div>
    </form>
</div>
<div ng-repeat="flight in flights" class="card">
    <h2>From: {{ departure.title }} - To: {{ arrival.title }}</h2>
    <p>Date selected: {{ flight.outbound.dateFrom | date:dd-mm-YYYY }} - {{ flight.outbound.dateTo | date:dd-mm-YYYY }}</p>
    <div class="price">
        <strong ng-bind="flight.outbound.price.currencySymbol + ' ' + flight.outbound.price.value"></strong>
    </div>
</div>